/* FEUILLE DE STYLE */



/*----------------------------------------PAGE D'ACCUEIL-------------------------------------*/
* {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#bandemenuhaut {
	display: flex;
	justify-content: space-around;
	position: fixed;
	margin-top: 0px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 130px;
	text-align: center;
	text-indent: 0px; /*décalage du texte vers la dorite*/
	font-size: 18px;
	background-color: rgb(150, 57, 57);
 }

body {
	background-color: #FFFDFF;
	height: 1200px;
	margin: 0px;
}

h1 {
	font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	color:  #333333;
}

h2 {
	font-family: Calibri,'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	color: black;
}

.msg_accueil {
	margin-top: 1cm;
	margin-bottom: 5cm;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 12mm;

}

/*----------------------------------------Produits accueil*/

.TitreProduits {
	text-align: center;
	font-size: 25PX;
	padding-top: 70px;
}
a {
	color: #ffffff;
	text-decoration: none;
}
.LesCardsContainer {
	display: flex;
    justify-content: space-around;
}

.card {
	border-radius: 8px;
	width: 25%;
	overflow: hidden;
	margin: 10px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.544);
	background-color: #333333;
    transition: box-shadow 0.3s ease-in-out;
}
.card img {
	width: 100%;
	height: auto;
}
.card-contenu{
	padding: 17px;
}
.card-titre {
	color: #FFFDFF;
}
.card-description {
	font-size: 14px;
	color: #fffdffb8;
}
.card:hover {
	box-shadow: 0 0px 30px rgba(0, 0, 0, 0.582);
  }


/*---------------------------------------Câble produits*/

button {
	display: inline-block;
	background-color: #000000;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: #eeeeee;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer;
  }

.cable1 {
	border: 7px solid #000000;
	background-color: #d3d3d3;
	padding: 0.2rem;
	display: flex;
	flex-direction: row;
	margin-top: 2cm;
}

.cable1 img {
	width: 400px;
	height: 400px;
}

.cable1 p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 12mm;
}

.ecouteur {
	border: 7px solid #000000;
	background-color: #d3d3d3;
	padding: 0.2rem;
	display: flex;
	flex-direction: row;
	margin-top: 2cm;
}

.ecouteur img {
	width: 400px;
	height: 400px;
	
}

.ecouteur p {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 12mm;
}
/*---------------------------------------En-tête*/

/* Menu burger*/ 
/* Sidenav menu */
.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: -250px;
	background-color: #e8e8e8;
	padding-top: 60px;
	transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #111;
  }
  
  .sidenav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
	left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
	display: block;
	width: 35px;
	height: 5px;
	background-color: black;
	margin: 6px 0;
  }
  /* Fin menu burger */
.puce {
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 10mm;
}
nav {
	background-color: #333333;
}
span {
	border-bottom-right-radius: 7px;
}
header {
	display: flex;
	justify-content: center;
	background-color: #242222;
	height: 120px;
}
.menu {
	float: left;
	padding-top: 7px;
	height: 100%;
}
.logoA {
	margin: 5px;
	box-shadow: #333333;
}

.SecNav {
	display: flex;
	justify-content: space-around;
	background-color:#333333;
	margin: 0;
	padding-bottom: 10px;

}
.SecNav a {
	margin: 4px;
}
ul {
	list-style-type: none;
}

/*---------------------------------------Fin En-tête*/

/*---------------------------------------Page contact*/

.up_contact {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 10mm;
}

.contact {
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 8mm;
}

/*---------------------------------------Fin Page contact*/

/*---------------------------------------Pied-page*/

.puce1 {
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 8mm;
	display: flex;

}
.footerpuce {
	text-decoration: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 10mm;
}


.footerbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
footer {
	background-color: #333333;
	margin-top: 5cm;
}

ul {
	list-style-type: none;
}

.mail_contact {
	margin-right: 10mm;
	margin-top: 1cm;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 8mm;
}

.adress {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 6mm;
}
/*---------------------------------------Fin Pied-page*/

