
body {
	padding: 0;
	margin: 0;
	position: relative;
}
.navbar {
	background-color: rgba(138, 137, 137, 0.74);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
.collapse {
	flex-direction: column;
	padding-right: 100px;
}
.nav-item {
	margin-right: 50px;
}
section {
	display: grid;
	align-items: center;
	min-height: 70vh;
}
.promo1 img {
	object-fit: cover;
	width: 100%;
	height: 650px;
}
.mainPromo {
	width: 100%;
	position: relative;
}

.homeQuote {
	background-image: url(/img/milad-fakurian-7wUorDiCMSU-unsplash.jpg);
	background-size: cover;
	height: 70vh;
	width: 100%;
}

.homeQuote {
	text-align: center;
}
  .quote1 h1 {
	font-size: 70px;
  }
  .hidden {
	opacity: 0;
	transition: all 1s;

  }
  .show {
	opacity: 1;
  }
  .SeeB {
	background-color: rgba(138, 137, 137, 0.74);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	position: absolute;
	text-decoration: none;
	border-radius: 30px;
	text-align: center;
	bottom: 82%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 24px;
	transition: .3s ease;
	box-shadow: 0px 0px 16px rgb(0 0 0 / 30%);
}
 .SeeB:hover {
	box-shadow: 0px 0px 16px rgba(255, 255, 255, 0.497);
	background-color: rgba(24, 23, 23, 0.815);
	
}  
.quotes {
	padding-top: 30vh;
}
.shopNbutton {
	background-color: rgba(255, 255, 255, 0.259);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	position: absolute;
	text-decoration: none;
	border-radius: 30px;
	text-align: center;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 24px;
	transition: .3s ease;
	box-shadow: 3px 0px 5px rgba(0, 0, 0, 15);
 }
 .shopNow {
	color: rgb(22, 22, 22);
	font-size: 22px;
	margin: 16px 60px;
 }
.shopNbutton:hover {
	box-shadow: 0px 0px 16px rgb(0, 0, 0);
	background-color: rgba(119, 88, 22, 0.796);
	
}  

.promovideo {
	width: 100%;
}
.SideToSideR {
	display: flex;
	justify-content: center;
}
.bestSeller {
	padding-top: 100px;
	
	text-align: center;
	font-size: 64px;
}
.SideToSideR img {
	width: 400px;
	height: 500px;
	margin: 30px;
	padding: 10px 15px;
}
